html, body{
  height:100%;
}

body{
  background-image: url(../images/myBackground.jpg);
  text-align: center;

}

#wrapper{
  box-sizing: border-box;
  padding:50px 0;
  width:960px;
  margin:90px auto;
  min-height: 700px;
  background-color: #66d9ff;
}

#secondWrapper{
  position: relative;
  top:150px;
}

button{
  display:block;
  width:400px;
  height:100px;
  margin: 10px auto 0 auto;
  border:none;
  cursor: pointer;
  background:transparent;
  font-size: 50px;;
}


h1{
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 6.5em;
  margin-bottom: 50px;
  font-weight: bold;
  color:white;
}

h2{
  font-size: 35px;
  margin-bottom: 25px;
}

h3{
  font-size: 25px;
  margin-bottom: 10px;
}

#start{
  margin-top: 10%;
  border:2px solid #037623;
  background: #ffff66;
}

#quiz-area h2{
  margin-top: 50px;
}

button:hover {
  border:2px solid blue;
  background: yellow;
}
